<!DOCTYPE html>
<!-- BEGIN above.mustache -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="CS-340 Final Project - Music Lending Library">
    <meta name="author" content="Jeromie Clark, Andrew Kroes">

    <link rel="stylesheet" href="js/jquery/jquery-ui.min.css">
  	<link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
    <script src="js/jquery/jquery-1.12.3.min.js"></script>
    <script src="js/jquery/jquery-ui.min.js"></script>
  	<script src="js/bootstrap/js/bootstrap.min.js"></script>


    <!-- Uses Dashboard Template from Bootstrap.js -->
    <title>Music Lending Library</title>

    <!-- Bootstrap core CSS -->
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="js/bootstrap/css/dashboard.css" rel="stylesheet">
    <style>
      html, body, .container, .row, .main {
        height: 100%;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Music Library</span>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <span class="nav nav-sidebar-header">Patron Functions</span>
          <ul class="nav nav-sidebar">
            <li><a href="browseAlbum.php">Browse Albums</a></li>
          </ul>

          <span class="nav nav-sidebar-header">Librarian Functions</span>
          <ul class="nav nav-sidebar">
            <li><a href="modArtist.php">Manage Artists</a></li>
            <li><a href="modComposer.php">Manage Composers</a></li>
            <li><a href="runNightly.php">Run Nightly Report</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<!-- END above.mustache -->
