<!-- TODO: Collapsable Panels -->
<!-- http://getbootstrap.com/javascript/#collapse -->

<div class="panel panel-default">

  <div class="panel-heading">
    <a href="modAlbum.php?action=editAlbum&album_id={{album_id}}" class="btn btn-default">Edit</a>&nbsp;
    Album: {{artist_name}}: {{album_name}}  ({{rel_year}})
  </div>

  <div class="panel-body">
  {{> trackList}}
  </div>

  <div class="panel-body">
  {{> copyList}}
  </div>
</div>
