<fieldset>
  <legend>Check Out Album</legend>
  <form method="post" action="checkOut.php" class="form-horizontal">
    <input type="hidden" name="action" value="checkOut">
    <input type="hidden" name="ainstance_id" value="{{ainstance.ainstance_id}}">
    <input type="hidden" name="album_id" value="{{album_id}}">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="ainstance_location">Checking Out: </label>
      <div class="col-sm-10">
        <p>
          Album: {{album_name}}  -  Artist: {{artist_name}}<br>
          ID: {{ainstance.ainstance_id}} - {{ainstance.ainstance_location}}
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
          <label for="user">User: </label>
      </div>
      <div class="col-sm-10">
        <input name="user" class="form-control ui-autocomplete-input" id="user" placeholder="User Name" value="{{user_first_name}} {{user_last_name}}">
        <input type="hidden" name="user_id" value="{{user_id}}" id="user_id">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <input type="submit" class="btn btn-primary btn-sm" value="Check Out">
      </div>
    </div>
  </form>
</fieldset>
