<table class="table">
  <thead>
    <td>Copy ID</td>
    <td>Location</td>
    <td>Status<td>
    <td>&nbsp;</td>
  </thead>
{{^copies}}
  <tr>
    <td colspan=3>No Records Found</td>
  </tr>
{{/copies}}
{{#copies}}
  <tr>
    <td>{{ainstance_id}}</td>
    <td>{{ainstance_location}}</td>
    <td>{{astatus_description}}</td>
    <td><a href="checkOut.php?ainstance_id={{ainstance_id}}" class="btn btn-default">Check Out</a></td>
  </tr>
{{/copies}}
</table>
