<fieldset>
  <legend>Update Track</legend>
  {{^track}}
    Track {{track_id}} Not Found
  {{/track}}
  {{#track}}
  <form method="post" action="modTrack.php" class="form-horizontal">
    <input type="hidden" name="action" value="updateTrack">
    <input type="hidden" name="album_id" value="{{album_id}}">
    <input type="hidden" name="track_id" value="{{track_id}}">

    <!-- Adapted from horizontal form example at http://getbootstrap.com/css/#forms -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="album_name">Album Name</label>
      <div class="col-sm-10 form-control-static" id="album_name">{{album_name}}</div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="track_name">Track Name</label>
      <div class="col-sm-10">
        <input id="track_name" class="form-control" name="track_name" placeholder="Track Name" value="{{track_name}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="genre">Genre</label>
      <div class="col-sm-10">
        <select class="form-control" name="genre">
          {{#genres}}
            <option value="{{value}}">{{description}}</option>
          {{/genres}}
        </select>
        <input type="hidden" name="track_genre_id" value="{{^track_genre_id}}{{genre_id}}{{/track_genre_id}}{{track_genre_id}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="track_year">Release Year</label>
      <div class="col-sm-10">
        <input id="track_year" class="form-control" name="track_rel_year" value="{{^track_rel_year}}{{rel_year}}{{/track_rel_year}}{{track_rel_year}}" placeholder="release_year">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="track_num">Track Number</label>
      <div class="col-sm-10">
        <!-- We auto-populate with the album release year -->
        <input id="track_num" class="form-control-xs" name="track_num" value="{{track_num}}" placeholder="track_num">
        <!-- / {{total_tracks}} -->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="track_artist">Artists</label>
      <div class="form col-sm-10">
        {{#track_artists}}
          <a href="modTrack.php?action=deleteArtist&track_id={{track_id}}&artist_id={{artist_id}}&album_id={{album_id}}" class="btn btn-danger btn-xs">
             <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          {{artist_name}}<br>
        {{/track_artists}}
        <input name="track_artist" class="form-control ui-autocomplete-input" value="" id="track_artist" placeholder="Add Artist" value="{{artist_name}}">
        <input type="hidden" name="track_artist_id" value="" id="track_artist_id">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="track_artist">Composers</label>
      <div class="form col-sm-10">
        {{#composers}}
          <a href="modTrack.php?action=deleteComposer&track_id={{track_id}}&composer_id={{composer_id}}&album_id={{album_id}}" class="btn btn-danger btn-xs">
             <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          {{composer_first_name}} {{composer_last_name}}<br>
        {{/composers}}
        <input name="track_composer" class="form-control ui-autocomplete-input" value="" id="track_composer" placeholder="Add Composer" value="{{composer_name}}">
        <input type="hidden" name="track_composer_id" value="" id="track_composer_id">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-2">
        <input type="submit" class="btn btn-primary btn-sm" value="Update Track">
      </div>
      <div class="col-sm-1">
        <a href="modAlbum.php?action=deleteTrack&album_id={{album_id}}&track_id={{track_id}}" class="btn btn-danger btn-sm">Delete Track</a>
      </div>
    </div>

  </form>
  {{/track}}
</fieldset>
