<table class="table">
  <thead>
      <td>Name</td>
      <td>Genre</td>
      <td>Artists</td>
      <td>Composers</td>
      <td>Year</td>
      <td>Track</td>
    </thead>
{{^tracks}}
<tr>
  <td colspan="4">No Records Found</td>
</tr>
{{/tracks}}
{{#tracks}}
<tr>
  <td>{{track_name}}</td>
  <td>{{track_genre_description}}</td>
  <td>{{#track_artists}}{{artist_name}}<br>{{/track_artists}}</td>
  <td></td>
  <td>{{track_rel_year}}</td>
  <td>{{track_num}}/{{total_tracks}}</td>
</tr>
{{/tracks}}
</table>
