<head>
  <meta author="Jeromie Clark, Andrew Kroes">
  <title>Add Albums and Tracks</title>
  <link rel="stylesheet" href="js/jquery/jquery-ui.min.css">
	<link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
  <script src="js/jquery/jquery-1.12.3.min.js"></script>
  <script src="js/jquery/jquery-ui.min.js"></script>
	<script src="js/bootstrap/js/bootstrap.min.js"></script>

  <script>
  $(function() {

      $("#artist").autocomplete({
        source: "artistSearch.php",
        minLength: 2,
        select: function( event, ui ) {

					// Use preventDefault to prevent the value from showing in the textfield
					// http://stackoverflow.com/questions/7642855/autocomplete-applying-value-not-label-to-textbox
					event.preventDefault();
      		$("#artist").val(ui.item.label);
					$("#artist_id").val(ui.item.value);
        },
				focus: function(event, ui) {
					event.preventDefault();
					$("#artist").val(ui.item.label);
				}

      });

			$("#composer").autocomplete({
        source: "composerSearch.php",
        minLength: 2,
        select: function( event, ui ) {
          $("#composer").val(ui.item.label);
					$("#composer_id").val(ui.item.value);
					return false;
        },
				focus: function(event, ui) {
					event.preventDefault();
					$("#composer").val(ui.item.label);
				}
      });
    });
  </script>
</head>

<body>
		<div class="container">
      {{{alert}}}
		  <fieldset>
				<legend>Add Album</legend>
		    <form method="post" action="addAlbum.php">
		      <input type="hidden" name="action" value="addAlbum">
					<div class="form-group">
						<label for="album_name">Album Name:</label>
			      <input type="text" class="form-control" id="name" name="name">
					</div>

					<!--
		      <p>
						<div class="form-group">
			        <label for="composer">Composer: </label>
			        <input name="composer" class="form-control" value="" id="composer" placeholder="Composer Name">
						</div>
						<input type="hidden" name="composer_id" value="" id="composer_id">
		      </p>
					-->

		      <p>
						<div class="form-group">
			        <label for="artist">Artist: </label>
			        <input name="artist" class="form-control" value="" id="artist" placeholder="Artist Name">
					</div>
					<input type="hidden" name="artist_id" value="" id="artist_id">
		      </p>
					<p>
						<div class="form-group">
			        <label for="genre">Genre: </label>
							<select class="form-control" name="genre">
                {{#genres}}
                  <option value="{{genre_id}}">{{description}}</option>
                {{/genres}}
							</select>
					</div>
		      </p>
					<p>
						<div class="form-group">

							<!-- TODO: I can't figure out hot to restrict input to 2 or 4 digits
							on these form fields.  -->

						  <label for="release_date">Release Year:</label>
			        <input type="number" min="1900" max="2016" name="release_date" class="form-control" value="" id="release_date">
				      <label for="total_tracks">Total Tracks:</label>
			        <input type="number" min="1" max="99" name="total_tracks" class="form-control" value="" id="total_tracks">
						</div>
		      </p>
					  <input type="submit" class="btn btn-primary btn-lg" value="Add Album">
		    </form>
		  </fieldset>
		</div>
</body>
