{{> above}}

  <h1>Browse Albums</h1>
  {{#albums}}
    <!-- TODO: Collapsable Panels -->
    <!-- http://getbootstrap.com/javascript/#collapse -->
        <div class="panel panel-default">

          <div class="panel-heading">
            <a href="modAlbum.php?action=editAlbum&album_id={{album_id}}">[Edit]</a>&nbsp;
            {{artist_name}}: {{album_name}}  ({{genre_desc}}, {{rel_year}})
          </div>

          <div class="panel-body">
          <b>Tracks:</b>
          {{> tracks}}
          </div>

          <div class="panel-body">
          <b>Copies:</b>
          {{> copies}}
          </div>
      </div>

    {{/albums}}
{{> below}}
