{{> above}}
<!-- BEGIN manageArtists.mustache -->
</head>

<div class="container">
  {{{alert}}}
  {{>composerForm}}
  <br><br>
  {{>composerList}}
</div>
<!-- END manageArtists.mustache -->
{{> below}}
