{{> above}}
<!-- BEGIN manageTrack.mustache -->
  <script>
  $(function() {

      $("#artist").autocomplete({
        source: "artistSearch.php",
        minLength: 2,
        select: function( event, ui ) {

					// Use preventDefault to prevent the value from showing in the textfield
					// http://stackoverflow.com/questions/7642855/autocomplete-applying-value-not-label-to-textbox
					event.preventDefault();
      		$("#artist").val(ui.item.label);
					$("#artist_id").val(ui.item.value);
        },
				focus: function(event, ui) {
					event.preventDefault();
					$("#artist").val(ui.item.label);
				}
      });

      $("#track_artist").autocomplete({
        source: "artistSearch.php",
        minLength: 2,
        select: function( event, ui ) {
          event.preventDefault();
          $("#track_artist").val(ui.item.label);
          $("#track_artist_id").val(ui.item.value);
        },
        focus: function(event, ui) {
          event.preventDefault();
          $("#track_artist").val(ui.item.label);
        }
      });

			$("#track_composer").autocomplete({
        source: "composerSearch.php",
        minLength: 2,
        select: function( event, ui ) {
          $("#track_composer").val(ui.item.label);
					$("#track_composer_id").val(ui.item.value);
					return false;
        },
				focus: function(event, ui) {
					event.preventDefault();
					$("#track_composer").val(ui.item.label);
				}
      });
    });
  </script>
</head>

<div class="container">
  {{{alert}}}
  {{>trackForm}}
  <br><br>
  {{>albumList}}
</div>
<!-- END manageTrack.mustache -->
{{> below}}
